* {
    box-sizing: border-box;
}
html, body {
    font-size: 16px;
}

body {
    margin: 0;
    line-height: 1.4;
    font-family: sans-serif, "Source Sans Pro";
}

.header {
    background-color: gray;
    padding: 20px;
    height: 400px;;
    color: #ffffff;
    background-image: linear-gradient(to bottom, #000, #0008), url("image/accueil.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 100%, cover;
    background-attachment: local, fixed;
}

.header-title {
    margin-top: 0;
    white-space: nowrap;
}

.header-nav {
    margin: 20px 0;

}

.header-nav a {
    padding: 0 10px;
    color: inherit;
    text-decoration: none;
}
.header-nav a:hover {
    background-color: lightgrey;
}

.main {
    background-color: lightgrey;
    padding: 20px;
    font-size: 16px;
}

.main p {
    text-align: justify;
}

.footer {
    background-color: gray;
    padding: 10px 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.page {
    display: flex;
}
.sidebar {
    flex:none;
    width: 250px;
    background-color: honeydew;
}
